<div class="col-span-12 px-5 py-4 gap-4 flex flex-row justify-between bg-white rounded-3xl items-center">
                <div>
                    <h1 class="text-2xl font-medium">Your level</h1>
                </div>
                <div class="flex flex-row justify-between gap-4 items-center">
                    <div
                        class="flex text-lg font-bold text-stone-400 flex-row justify-between gap-1 bg-emerald-500 py-1.5 px-3 rounded-full">
                        <div
                            class="h-10 w-10 inline-flex items-center justify-center in text-center text-white text-xl">
                            1.</div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-green-500 "
                                src=<%=user_data.profile_picture%> alt="Bordered avatar">
                        </div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                    </div>
                    <div
                        class="flex text-lg font-bold text-stone-400 flex-row justify-between gap-1 bg-emerald-500 py-1.5 px-3 rounded-full">
                        <div
                            class="h-10 w-10 inline-flex items-center justify-center in text-center text-white text-xl">
                            3.</div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                    </div>
                    <div
                        class="flex text-lg font-bold text-stone-400 flex-row justify-between gap-1 bg-emerald-500 py-1.5 px-3 rounded-full">
                        <div
                            class="h-10 w-10 inline-flex items-center justify-center in text-center text-white text-xl">
                            3.</div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                    </div>
                    <div
                        class="flex text-lg font-bold text-stone-400 flex-row justify-between gap-1 bg-emerald-500 py-1.5 px-3 rounded-full">
                        <div
                            class="h-10 w-10 inline-flex items-center justify-center in text-center text-white text-xl">
                            4.</div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                        <div
                            class="h-10 w-10 rounded-full bg-white inline-flex items-center justify-center in text-center">
                            <i class="fa-solid fa-lock"></i></div>
                    </div>
                </div>
                <div>
                    <p class="text-xs font-medium ">LEVEL</p>
                    <p class="text-lg">Kon'nichiwa ✋</p>
                </div>
            </div>