<div class="main-page-container w-full pt-5 sm:pt-0 md:pt-0 lg:pt-0">
    <div class=" backdrop-blur-sm  bg-center bg-cover bg-gray-900/70 py-10">
        <section class="pt-8 lg:pt-32  ">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
                <div class="bg-blue-600 py-2 px-4 w-fit  mx-auto rounded-full flex items-center justify-between mb-4 ">
                    <span class="font-inter text font-medium text-white">Anime unwatched.</span>
                </div>
                <h1
                    class="max-w-2xl text-white mx-auto text-center font-manrope font-bold text-4xl  mb-5 md:text-5xl leading-[50px]">
                    We have brought Worlds first
                    <span class="text-indigo-600">anime community </span>
                </h1>
                <p class="max-w-sm mx-auto text-center text-base font-normal leading-7 text-gray-400 mb-9">
                    Level up your anime passion with our buzzing community
                </p>
                <%if(value){%>
                    <a href="/user/dash-board"
                    class="w-full md:w-auto mb-14 inline-flex items-center justify-center py-3 px-7 text-base font-semibold text-center text-white rounded-full bg-indigo-600 shadow-xs hover:bg-indigo-700 transition-all duration-500">
                    Go to dashboard
                    <svg class="ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.5 15L11.0858 11.4142C11.7525 10.7475 12.0858 10.4142 12.0858 10C12.0858 9.58579 11.7525 9.25245 11.0858 8.58579L7.5 5"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
                <%} else {%>
                    <a href="/login"
                    class="w-full md:w-auto mb-14 inline-flex items-center justify-center py-3 px-7 text-base font-semibold text-center text-white rounded-full bg-indigo-600 shadow-xs hover:bg-indigo-700 transition-all duration-500">
                    Create an account | login
                    <svg class="ml-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.5 15L11.0858 11.4142C11.7525 10.7475 12.0858 10.4142 12.0858 10C12.0858 9.58579 11.7525 9.25245 11.0858 8.58579L7.5 5"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
                    <%}%>
                <div class="flex justify-center ">

                    <div
                        class=" relative mx-auto w-full border-gray-800 bg-gray-800 border-l-[14px] h-[190] sm:h-[456px] md:h-[456px] lg:h-[456px] border-r-[14px] border-t-[14px] rounded-t-[2.5rem] border-b border-b-white border-b-4  ">
                        <div
                            class="h-[32px] w-[3px] bg-white  absolute -start-[19px] top-[42px] rounded-s-lg bg-white">
                        </div>
                        <div
                            class="h-[32px] sm:h-[46px] md:h-[46px] lg:h-[46px] w-[3px] bg-gray-400 dark:bg-gray-800 absolute -start-[17px] top-[100px] rounded-s-lg">
                        </div>
                        <div
                            class="h-[32px] w-[3px] bg-gray-400 dark:bg-gray-800 absolute -start-[17px] top-[140px] sm:top-[178px] md:top-[178px] lg:top-[178px] rounded-s-lg">
                        </div>
                        <div
                            class="h-[64px] w-[3px] bg-gray-400 dark:bg-gray-800 absolute -end-[17px] top-[122px] rounded-e-lg">
                        </div>
                        <div class="rounded-t-[2rem] overflow-hidden h-[190px]  sm:h-[440px] md:h-[440px] lg:h-[440px] bg-white ">
                            <img src="../public/media/bestAnimeList/img/animeListBackground.jpg " class=""
                                alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Teams -->

        <section class="">
            <div class=" text-center px-10 pt-10 sm:px-20 md:px-20 lg:px-20">
                <div class="flex flex-col sm:flex-row md:flex-row lg:flex-row items-center rounded-3xl   justify-center bg-white  w-full gap-8 sm:gap-32 md:gap-32 lg:gap-32 py-10">
                    <div class="text-center text-gray-500">
                        <img class="mx-auto  w-36 h-36 fit rounded-full"
                            src="../public/media/hero/team/priyanshu.jpg"
                            alt="Bonnie Avatar">
                        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 ">
                            <a href="#">Priyanshu Chandra</a>
                        </h3>
                        <p>CEO/Founder</p>
                        <ul class="flex justify-center mt-4 space-x-4">
                            <li>
                                <a href="#" class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                    <i class="fa-brands fa-instagram text-xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center text-gray-500 dark:text-gray-400">
                        <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                            src="../public/media/hero/team/abhi.jpg"
                            alt="Helene Avatar">
                        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 ">
                            <a href="#">Abhishek Kumar</a>
                        </h3>
                        <p>CTO/Co-Founder</p>
                        <ul class="flex justify-center mt-4 space-x-4">
                            <li>
                                <a href="#" class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                    <i class="fa-brands fa-instagram text-xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center text-gray-500 dark:text-gray-400">
                        <img class="mx-auto mb-4 w-36 h-36 rounded-full"
                            src="../public/media/hero/team/chandana.jpg"
                            alt="Jese Avatar">
                        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 ">
                            <a href="#">Chandana Praveen</a>
                        </h3>
                        <p>CFO/Co-Founder</p>
                        <ul class="flex justify-center mt-4 space-x-4">
                            <li>
                                <a href="#" class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path
                                            d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                    class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                    <i class="fa-brands fa-instagram text-xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </section>

        <!-- what we offer section -->
        <div class=" py-10 sm:py-20 md:py-20 lg:py-20 sm:px-20 md:px-20 lg:px-20 px-5">
            <div class="flex flex-col">
                <div class="sm:text-9xl md:text-9xl lg:text-9xl text-3xl flex flex-col font-extrabold text-stone-200 text-center ">
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-xs bg-white w-fit text-center hidden sm:block md:blocl lg:block">latest blog on anime | Community | action figuers</p>
                        <h1 class="">WE PR<span class="text-gray-500">OVIDE</span></h1>
                        <!-- <div class="absolute bg-white h-full rounded-3xl w-56 top-0 flex items-center justify-center left-0 border-b-2">
                            <div class="text-center">
                                <p class="text-4xl">anime</p>
                            </div>
                        </div>
                        <div class="absolute top-0 bg-white  rounded-3xl w-56 right-0 flex items-center justify-center border-b-2">
                        <span class="border-2 "> </span>
                            
                            <div class="text-center">
                                <p class="text-4xl">unwatched</p>
                            </div>
                        </div> -->
                    </div>

                    <h1 class=" text-red-400"> BEST ANIME LIST</h1>

                    <h1 class=" ">UPCOMING ANIME</h1>

                    <h1 class=" ">ANIME COUNTDOWN</h1>
                    <span class=" hidden sm:block md:blocl lg:block w-full text-xs text-gray-400 bg-white">kodomomuke | Shonen | Shoujo | Seinen | Josei | Mecha | Slice of Life | Mahou Shoujo | Isekai | Yaoi | Yuri | Harem | Ecchi | Idol
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>