<!-- <div class="flex flex-row items-center justify-between  w-full  "> -->
    <!-- blog left -->
     <!-- <div class="static"> -->
     <!-- </div> -->
    <!-- blog main -->
    <!-- <div class="basis-8/12 ml-16  mr-96  "> -->
        <!-- read more -->
    <!-- </div> -->
    <!-- <div class="static"> -->
    <!-- </div> -->
    <!-- blog right -->
<!-- </div> -->
 <div>
    <%-include('blog-dashboard/blog-dashboard-main')%>
 </div>