            <!-- Left Side -->
            <div class="w-full bg-white rounded-3xl py-5 px-10 p-3 col-span-4">
                <div class="w-full rounded-lg ">
                    <h1 class="text-2xl font-bold">Welcome Back, <span class="text-blue-700 font-medium">
                            <%= user_data.username %>
                        </span></h1>
                    <p class="text-gray-500 font-medium">Keep your streak alive! Earn rewards for visiting daily and
                        staying engaged with your favorite anime</p>
                </div>
                <div class="flex flex-row items-center items-center py-4">
                    <div class="flex flex-row  items-center justify-between ">
                        <div
                            class="h-14 w-14 bg-gray-300 rounded-full inline-flex items-end justify-center bg-[url('../../../public/media/gif-icons/fire.gif')] bg-center bg-auto">
                            <p class="p-2.5 font-bold text-white text-md ">M</p>
                        </div>
                        <div
                            class="h-14 w-14 bg-gray-300 rounded-full inline-flex items-end justify-center bg-[url('../../../public/media/gif-icons/fire.gif')] bg-center bg-auto">
                            <p class="p-2.5 font-bold text-white text-md ">M</p>
                        </div>

                        <div class="h-10 w-10 bg-gray-300 rounded-full text-center">
                            <p class="p-2.5 font-bold text-white text-md ">W</p>
                        </div>
                        <div
                            class="h-14 w-14 bg-gray-300 rounded-full inline-flex items-end justify-center bg-[url('../../../public/media/gif-icons/fire.gif')] bg-center bg-auto">
                            <p class="p-2.5 font-bold text-white text-md ">M</p>
                        </div>

                        <div
                            class="h-14 w-14 bg-gray-300 rounded-full inline-flex items-end justify-center bg-[url('../../../public/media/gif-icons/fire.gif')] bg-center bg-auto">
                            <p class="p-2.5 font-bold text-white text-md ">M</p>
                        </div>

                        <div
                            class="h-14 w-14 bg-gray-300 rounded-full inline-flex items-end justify-center bg-[url('../../../public/media/gif-icons/fire.gif')] bg-center bg-auto">
                            <p class="p-2.5 font-bold text-white text-md ">M</p>
                        </div>
                    </div>
                    <div class="text-2xl text-center font-bold pt-4 text-stone-500">x2</div>
                </div>
            </div>
   