<div class="space-y-4 subpixel-antialiased">
    <div class="bg-indigo-100 rounded-lg py-8 px-20 overflow-hidden">
        <!-- Profile avtar -->
        <div class="flex items-center gap-4 ">
            <img class="w-10 h-10 rounded-full" src="../../public/media/bestAnimeList/img/animeListBackground.jpg"
                alt="">
            <div class="font-medium dark:text-white">
                <div class="text-gray-800">Priyanshu Chandra</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">posted 1hr ago</div>
            </div>
        </div>
        <!-- end -->
        <!-- text content start -->
        <div class="pt-5">
            <h1 class="text-md  text-gray-800 font-semibold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis cumque fugiat facere itaque quo
                incidunt, velit eius molestias possimus nihil dignissimos quas voluptas quis cum adipisci facilis
                architecto voluptates.</h1>
        </div>
        <!-- text content end -->
        <!-- image section start -->
        <div class="flex flex-row gap-6 h-52 mt-5 overflow-hidden">
            
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
        </div>
        <!-- image section end -->
        <!-- like and comment section start -->
        <div class="flex flex-row gap-10 mt-5 overflow-hidden text-xl">
            <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid fa-heart text-red-600"></i>
              </button>
              <button type="button" class="py-3  inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-500 fa-comment"></i>
              </button>
              <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-600 fa-plus"></i>
              </button>
        </div>
        <!-- like and comment section end-->

    </div>
    <div class="bg-orange-100 rounded-lg py-8 px-20 overflow-hidden">
        <!-- Profile avtar -->
        <div class="flex items-center gap-4">
            <img class="w-10 h-10 rounded-full" src="../../public/media/bestAnimeList/img/animeListBackground.jpg"
                alt="">
            <div class="font-medium dark:text-white">
                <div class="text-gray-800">Priyanshu Chandra</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">posted 1hr ago</div>
            </div>
        </div>
        <!-- end -->
        <!-- text content start -->
        <div class="pt-5">
            <h1 class="text-md text-gray-800 font-semibold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis cumque fugiat facere itaque quo
                incidunt, velit eius molestias possimus nihil dignissimos quas voluptas quis cum adipisci facilis
                architecto voluptates.</h1>
        </div>
        <!-- text content end -->
        <!-- image section start -->
        <!-- <div class="flex flex-row gap-6 h-52 mt-5 overflow-hidden">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
        </div> -->
        <!-- image section end -->
        <!-- like and comment section start -->
        <div class="flex flex-row gap-10 mt-5 overflow-hidden text-xl">
            <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid fa-heart text-red-600"></i>
              </button>
              <button type="button" class="py-3  inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-500 fa-comment"></i>
              </button>
              <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-600 fa-plus"></i>
              </button>
        </div>
        <!-- like and comment section end-->

    </div>
    <div class="bg-indigo-100 rounded-lg py-8 px-20 overflow-hidden">
        <!-- Profile avtar -->
        <div class="flex items-center gap-4">
            <img class="w-10 h-10 rounded-full" src="../../public/media/bestAnimeList/img/animeListBackground.jpg"
                alt="">
            <div class="font-medium dark:text-white">
                <div class="text-gray-800">Priyanshu Chandra</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">posted 1hr ago</div>
            </div>
        </div>
        <!-- end -->
        <!-- text content start -->
        <div class="pt-5">
            <h1 class="text-md text-gray-800 font-semibold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis cumque fugiat facere itaque quo
                incidunt, velit eius molestias possimus nihil dignissimos quas voluptas quis cum adipisci facilis
                architecto voluptates.</h1>
        </div>
        <!-- text content end -->
        <!-- image section start -->
        <!-- <div class="flex flex-row gap-6 h-52 mt-5 overflow-hidden">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
            <img class="rounded-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
        </div> -->
        <!-- image section end -->
        <!-- like and comment section start -->
        <div class="flex flex-row gap-10 mt-5 overflow-hidden text-xl">
            <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid fa-heart text-red-600"></i>
              </button>
              <button type="button" class="py-3  inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-500 fa-comment"></i>
              </button>
              <button type="button" class="py-3 inline-flex items-center font-semibold rounded-lg border border-transparent text-blue-600 hover:bg-blue-100 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400">
                <i class="fa-solid text-gray-600 fa-plus"></i>
              </button>
        </div>
        <!-- like and comment section end-->

    </div>
</div>