<!-- <div class="fixed  flex justify-center items-center bottom-0 w-full z-50 backdrop-blur-md  bg-gray-100/10 py-4 px-10 min-h-screen ">
    <div class="bg-gray-100 py-10 px-5 rounded-lg">
    <div class="flex flex-row justify-center items-center flex-row bg-white w-full rounded-full w-96  px-4 py-2 gap-4 ">
                <img class="w-10 h-10 rounded-full" src="../../public/media/bestAnimeList/img/animeListBackground.jpg">
        <form action="">
                <textarea name="" id="" cols="30" rows="1" placeholder="Share post" ></textarea>
        </form>
        <button class="px-4 text-xl text-gray-500"><i class="fa-solid fa-face-smile"></i></button>
        <button type="button">send</button>
    </div>
    <div>
        <form action="">
        </form>
    </div>
    </div>
</div> -->