<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Mediplasia Medicos pvt. ltd.">
    <meta property="og:image" content="">
    <meta property="og:description"
        content="MEDPLASIA provides excellent opportunities for medical students to pursue their MBBS studies abroad. Many young">
    <meta property="og:url" content="https://example.com/page.html">
    <meta name="twitter:card" content="summary_large_image">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/public/media/animeDoodles/shoto.png">
    <!-- w3css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom css styles sheet -->
    <link rel="stylesheet" type="" href="/public/styles/main.css" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/879ed49c00.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!--  Login page -->
    <script src="../../public/responsive/main.js"></script>
    <script src="../../public/responsive/navigations/top-bar.js"></script>
    <script src="../../public/responsive/anime-vault-admin/dashboard.js"></script>

    <title>Anime Unwatched </title>
    <!-- js responsice script -->
</head>

<body class="container">