<div class=" md:hidden   lg:hidden shadow-sm  fixed top-0 w-full bg-[url('../../public/media/bestAnimeList/img/animeListBackground.jpg')] bg-cover bg-center  bg-no-repeat">
   <div class="backdrop-blur-sm flex items-center flex-row justify-between px-2 py-2 ">
    <div>
       
        <p class="text-sm bg-blue-700 text-white rounded-full py-1 px-2">anime Unwatched.</p>
    </div>
    <div>
        <button><i class="fa-solid fa-comment text-2xl text-white"></i></button>
        
    </div>
   </div>

</div>
<!-- Mobile navigation bottom -->
<div class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200 bottom-0 left-1/2 block sm:hidden md:hidden lg:hidden">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button  type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50">
            <a href="/"><i class="fa-solid fa-house text-lg font-bold"></i></a>
        </button>
        <button  type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50">
            <a href="/blog"><i class="fa-solid fa-b text-lg font-bold"></i></a>
            
        </button> 
        <div class="flex items-center justify-center">
            <button type="button" class="inline-flex items-center justify-center w-10 h-10 font-medium bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none ">
                <a href="user/dash-board"><i class="fa-solid fa-user text-white text-lg font-bold"></i></a>
            </button>
        </div>      
        <button  type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 ">
            <i class="fa-solid fa-list text-lg font-bold"></i>
        </button>
        <button  type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 ">
            <a href="/count-down"> <i class="fa-solid fa-clock text-lg font-bold"></i></a>
        </button>
    
    </div>
</div>
<!-- Best anime list and upcoming anime -->
<div class="min-h-screen backdrop-blur-md fixed top-0 left-0 w-full h-full hidden  ">
    <div class="flex items-center justify-center ">
        <!-- Best Anime list -->
    
            <div class="bg-white my-auto  rounded-xl px-20">
               <div>
                <h1>Best anime list</h1>
                <div>

                </div>
               </div>
               <div>
                <h1>Upcoming anime list</h1>
                <div></div>
               </div>
            </div>
    
        <!-- upcomming anime -->
        <div></div>
</div>

</div>