<div class="flex flex-row justify-center gap-4 bg-white mb-4 py-4 px-10 rounded-lg">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
    <img class="w-16 h-16" src="../../../../../public/badges/activity-based-badges/contributor.png" alt="" srcset="">
</div>