<div class="w-[60%] bg-white rounded-lg px-10 py-4">
    <h1 class="font-bold text-5xl">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, aliquam ipsam?
    </h1>
    <p class="py-4 text-gray-600 text-sm">By Priyanshu Chandra <span>Date of upload <span>10
                May</span></span></p>
    <div class="flex flex-row justify-between">
        <div class="space-x-4">
            <button type="button"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><i
                    class="fa-brands fa-x-twitter"></i> Tweet</button>
            <button type="button"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><i
                    class="fa-solid fa-link"></i> copy link</button>
        </div>
        <button
            class="text-2xl font-bold text-gray-900 focus:outline-none hover:text-blue-700 focus:z-10"><i
                class="fa-regular fa-bookmark"></i></button>
    </div>
    <!-- Blog Content -->
    <div class="mt-4 space-y-4">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <img src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
    </div>
    <div class="mt-4 space-y-4">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <img src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
    </div>
    <div class="mt-4 space-y-4">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <img src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
    </div>
    <div class="mt-4 space-y-4">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <img src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
        <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloremque
            officia tempore cupiditate a blanditiis sit accusantium repellat quam impedit, recusandae
            consectetur rerum saepe, qui odit velit itaque! Quae, quisquam!</p>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ex obcaecati
            reiciendis recusandae cumque id deleniti dolor, molestiae ipsa iure, veritatis asperiores
            aliquid ea delectus fugit dolorum! Quia, qui ipsa.</p>
    </div>
</div>