<div class="w-[20%] bg-white rounded-lg px-5 py-4 mt-28  ">
    <div class="sticky top-4">
        <div class="space-y-4">

            <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5
                        class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                        Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-md">Here are the biggest
                    enterprise technology acquisitions of 2021 so far, in reverse chronological
                    order.</p>
                <a href="#"
                    class="inline-flex space-x-4 items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-black-800">
                    Read more
                    <i class="px-2 fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        </div>
    </div>

</div>