<div class="w-[20%]  bg-white rounded-lg px-4 py-4 mt-28 ml-5 ">
    <div class="sticky top-4 ">
        <div class="border rounded-lg py-4 px-4 flex flex-col  ">
            <div class="flex flex-row gap-4">
                <img class="w-10 h-10 rounded-full"
                    src="../../public/media/bestAnimeList/img/animeListBackground.jpg"
                    alt="Rounded avatar">
                <div class=" ">
                    <h1 class="text-md text-gray-700 font-medium ">Priyanshu Chandra</h1>
                    <p class="text-sm text-gray-600"> None</p>
                </div>
            </div>
            <div class="my-4 ">
                <p class="text-md text-gray-600 text-justify break-words hyphens-auto ">Lorem ipsum
                    dolor ium eum necessitatibus at officia, recusandae, earum?</p>
                <div class="py-1 mt-4 space-y-1">
                    <h1 class="font-bold text-md text-gray-700">LOCATION</h1>
                    <p class="text-sm text-gray-600">Banglore, india</p>
                </div>
                <div class="py-1 space-y-1">
                    <h1 class="font-bold text-md text-gray-700">JOINED</h1>
                    <p class="text-sm text-gray-600">january 22, 2024</p>
                </div>
            </div>
            <button class="w-full text-white font-medium rounded-lg py-2 bg-blue-600">Follow</button>
        </div>
        <div class="mt-10 border rounded-lg py-4 px-4 flex flex-col">


            <form class="flex items-center max-w-sm mx-auto">
                <div class="w-full">
                    <input type="text" id="simple-search"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search anime by catogery..." required />
                </div>
                <button type="submit"
                    class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="sr-only">Search</span>
                </button>
            </form>
            <h1 class="mt-4 text-md font-medium">Recommended Topics</h1>
            <div class="gap-4 mt-5 flex flex-wrap text-sm font-medium ">
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">Reincarnation</span>
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">yuri</span>
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">harem</span>
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">Reincarnation</span>
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">summoning</span>
                <span class="bg-blue-100 text-blue-700 py-2 px-4 rounded-lg ">yuri</span>

            </div>

        </div>
        <div class="">
            <div
                class='flex rounded-lg flex-col items-center justify-center  px-8 py-4 bg-slate-100 mt-10'>
                <h1 class=" font-bold text-xl py-5 ">
                    Follow a Members
                </h1>
                <div
                    class="user mb-5 w-full px-10 py-5 rounded-lg bg-white flex gap-4 items-center text-center flex-col px-4">
                    <div class="avatar-content mb-2.5 sm:mb-0 sm:mr-2.5">
                        <img class="avatar w-10 h-10 rounded-full"
                            src="https://randomuser.me/api/portraits/men/47.jpg" />
                    </div>
                    <div class="user-body flex flex-col ">
                        <a href="#" class="title font-medium no-underline">Guy Hawkins</a>
                        <div class="skills flex flex-col">
                            <span class=" text-sm text-slate-500">Medical Assistant</span>
                            <span class=" text-sm text-slate-500">Assitant</span>
                        </div>
                    </div>
                    <div class=" mx-auto">
                        <button
                            class="btn inline-block select-none no-underline align-middle cursor-pointer whitespace-nowrap px-4 py-1.5 rounded text-base font-medium leading-6 tracking-tight text-white text-center border-0 bg-[#6911e7] hover:bg-[#590acb] duration-300"
                            type="button">Follow</button>
                    </div>
                </div>
                <div
                    class="user w-full  px-10 py-5 rounded-lg bg-white flex gap-4 items-center text-center flex-col px-4">
                    <div class="avatar-content mb-2.5 sm:mb-0 sm:mr-2.5">
                        <img class="avatar w-10 h-10 rounded-full"
                            src="https://randomuser.me/api/portraits/men/47.jpg" />
                    </div>
                    <div class="user-body flex flex-col ">
                        <a href="#" class="title font-medium no-underline">Guy Hawkins</a>
                        <div class="skills flex flex-col">
                            <span class=" text-sm text-slate-500">Medical Assistant</span>
                            <span class=" text-sm text-slate-500">Assitant</span>
                        </div>
                    </div>
                    <div class=" mx-auto">
                        <button
                            class="btn inline-block select-none no-underline align-middle cursor-pointer whitespace-nowrap px-4 py-1.5 rounded text-base font-medium leading-6 tracking-tight text-white text-center border-0 bg-[#6911e7] hover:bg-[#590acb] duration-300"
                            type="button">Follow</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>