<div class="static">
    <div class="bg-[url('../../public/media/bestAnimeList/img/animeListBackground.jpg')] bg-repeat bg-contain">
        <div class="bg-gray-100/10 backdrop-blur-sm h-96 flex justify-center items-center">
            <h1 class="sm:text-6xl md:text-6xl lg:text-6xl text-4xl font-bold text-white">BLOG NARUTO</h1>
        </div>
    </div>
    <div class="absolute top-60 w-full ">
        <div class=" h-48 rounded-lg py-10  ">
            <div class="flex flex-row  w-full">
                <!-- Blog -->
               <%- include('blog-vault/blog-left')%>
               <%- include('blog-vault/blog-content')%>
               <%- include('blog-vault/blog-right')%>
            </div>
        </div>
    </div>
</div>
</div>