<div class="bg-stone-200 ">
    <div class="flex flex-row ">
        <!-- left sidebar -->
        <%-include('blog-left-sidebar')%>
        <!-- blog main -->
        <%-include('main')%>
        <!-- right sidebar -->
        <%-include('blog-right-sidebar')%>     
    </div>
</div>