<div class="w-96  bg-white mt-6 px-10 mx-10 py-10 rounded-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo perferendis dolores pariatur, dolorem
    tenetur nesciunt debitis quisquam consectetur quos rem provident libero molestiae quibusdam fugit, ex
    voluptates
    quidem blanditiis. lpre
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a, aspernatur quasi nobis porro quas nam
    fugiat harum mollitia perferendis reiciendis nisi cupiditate, sapiente deserunt, officiis incidunt odit
    dignissimos earum?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quasi odio beatae in, consequatur
    repudiandae
    unde saepe eaque nobis, quos qui placeat maxime, ducimus dolore possimus! Nostrum magnam unde illo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit cumque facere asperiores? Sapiente magnam et
    necessitatibus maiores, totam, ipsum quis qui illo repellendus sunt eveniet doloremque, omnis praesentium
    itaque
    corporis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cupiditate nobis ullam debitis. Autem
    neque
    nesciunt quibusdam. Tenetur accusamus animi debitis laudantium illum, molestias dolores hic, perspiciatis
    fugit
    necessitatibus odio.
</div>