<div class="col-span-12 py-10 px-10 bg-emerald-400 rounded-3xl flex flex-col gap-4">
    <!-- metrics block start -->
    <div class="flex flex-row justify-center gap-4">
    <!-- first block -->
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">3</p>
                <h1 class="text-lg font-medium">Streak</h1>
                <img class="h-10 w-10" src="../../../public/media/gif-icons/fire.gif" alt="">
            </div>
        </div>
        <!-- second block -->
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">1</p>
                <h1 class="text-lg font-medium">Level</h1>
                <img class="h-10 w-10" src="../../../public/media/gif-icons/rank.gif" alt="">
            </div>
        </div>
        <!-- third block -->
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">0</p>
                <h1 class="text-lg font-medium">Badges</h1>
                    <img class="h-10 w-10" src="../../../public/media/gif-icons/badge.gif" alt="">
            </div>
        </div>
        <!-- fourth block -->
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">0</p>
                <h1 class="text-lg font-medium">ratings</h1>
                <img class="h-10 w-1o" src="../../../public/media/gif-icons/rating.gif" alt="">
            </div>
        </div>
        <!-- fifth block -->
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">0</p>
                <h1 class="text-lg font-medium">Trophies</h1>
                    <img class="h-10 w-10" src="../../../public/media/gif-icons/trophy.gif" alt="">
            </div>
        </div>
        <div class="w-48 flex flex-col items-center justify-center">
            <div class="inline-flex w-full justify-between items-center bg-white rounded-3xl py-4 px-4">
                <p class="text-4xl">0</p>
                <h1 class="text-lg font-medium">Polls</h1>
                <img class="w-10 h-10" src="../../../public/media/gif-icons/poll.gif" alt="" srcset="">
            </div>
        </div>
    </div>
</div>