<div id="anime-by-year-container"
        class=" hidden flex items-center justify-center fixed top-0 right-0 min-h-screen w-full bg-black/70 backdrop-blur-lg z-50">
        <div class=" flex flex-row justify-between gap-8  w-full mx-20">
            <div class="bg-white rounded-lg basis-1/4 ">
                <img class="h-96 w-full rounded-lg p-2" src="../../../public/media/bestAnimeList/img/animeListBackground.jpg" alt="">
            </div>
            <div class="bg-white flex flex-col gap-4 min-h-96 w-full  rounded-lg px-10 py-10 basis-3/4">
               <div class="pb-2 flex flex-row justify-between">
                <h1 class="heading text-3xl font-bold text-blue-700">Anime name</h1>
                <button onclick="readmore_close();" class="text-2xl text-black "><i class="fa-solid fa-x"></i></button>
               </div>
               <div class="flex flex-row justify-between bg-green-200 py-2 px-4 rounded-lg items-center">
                <div class="flex flex-row gap-4">
                    <p class="release-year"> </p>
                    <p class="release-season"></p>
                </div>
                <div>
                    <button type="button"
                            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2.5  "><i
                                class="fa-solid fa-plus"></i></button>
                </div>
               </div>
               <div>
                <h1 class="text-xl font-bold text-gray-500">Plot</h1>
                <p class="anime-plot">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, iusto itaque! Error excepturi, sequi alias praesentium quidem neque odit quae expedita fugiat? Hic distinctio reprehenderit veritatis assumenda rem ab dolores.</p>
               </div>
               <div class="flex flex-row justify-between">
                <button type="button" class="detail-tag1 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag2 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag3 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag4 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag5 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag6 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag7 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
                <button type="button" class="detail-tag8 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"></button>
               </div>
            </div>
        </div>
    </div>
