<div class=" mt-4 h-full bg-gray-100 rounded-lg">
    <div class=" mx-auto p-5 ">
        <div class="grid gap-8 grid-cols-12  ">
            <!-- streak left side -->
            <%- include('./profile-comp/streak/streak-card')%>
            <!-- Right Side -->
            <div class="w-full col-span-8 rounded-3xl bg-white ">
                <div class="my-4">
                    <%-include('./profile-comp/user/user-data-card')%>
                </div>
            </div>
            <!-- level card -->
            <%- include('./profile-comp/level/level-card')%>
            <!-- metrics -->
            <%- include('./profile-comp/metrices/metrices-card')%>
            
        </div>
        <!-- start badges -->
        <div>
        </div>

    </div>
</div>