<div class="bg-white py-4 px-6 shadow-sm rounded-lg">
    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
        <span class="tracking-wide text-xl">General information</span>
    </div>
    <div
        class="relative flex flex-col w-full min-w-0 mb-6 break-words rounded-2xl border-stone-200 bg-light/30 draggable">
        <!-- card body -->
        <div class="px-9 pt-9 flex-auto min-h-[70px] pb-0 bg-transparent">
            <div class="flex flex-wrap mb-6 xl:flex-nowrap">
                <!-- profile Image -->
                <div class="mb-5 mr-5">
                    <div class="relative inline-block shrink-0 rounded-2xl">
                        <img class="inline-block shrink-0 rounded-full w-24 h-24 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 "
                            src=<%= profilePicture %>
                            alt="image" />
                        <div class="group/tooltip relative">
                            <span
                                class="w-[10px] h-[10px] bg-green-700 absolute bg-success rounded-full bottom-4 end-2   border border-white"></span>
                            <span
                                class="text-xs absolute z-10 transition-opacity duration-300 ease-in-out px-3 py-2 whitespace-nowrap text-center transform bg-white rounded-2xl shadow-sm bottom-0 -mb-2 start-full ml-4 font-medium text-secondary-inverse group-hover/tooltip:opacity-100 opacity-0 block">
                                Status: Active </span>
                        </div>
                    </div>
                </div>
                <!-- profile Image end-->
                <div class="grow">
                    <div class="flex flex-wrap items-start justify-between mb-2">
                        <div class="flex flex-col">
                            <div class="flex items-center mb-2">
                                <h1 class="text-secondary-inverse hover:text-primary transition-colors duration-200 ease-in-out font-semibold text-[1.5rem] mr-1"
                                    href=""> <%= username %></h1>
                            </div>
                            <div class="flex flex-wrap pr-2 mb-4 font-medium">
                                <a class="flex items-center mb-2 mr-5 text-secondary-dark hover:text-primary"
                                    href="javascript:void(0)">
                                    <span class="mr-1">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </span> India </a>
                                <a class="flex items-center mb-2 mr-5 text-secondary-dark hover:text-primary"
                                    href="javascript:void(0)">
                                    <span class="mr-1">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span> <%= email%></a>
                            </div>
                        </div>
                        <div class="flex flex-wrap my-auto">
                            <Butt href=""
                                class="inline-block px-3 py-2 mr-3 text-base font-medium leading-normal text-center align-middle transition-colors duration-150 ease-in-out border-0 shadow-none cursor-pointer rounded-lg text-white bg-green-500 border-light hover:bg-light-dark active:bg-light-dark focus:bg-light-dark ">
                                Edit </Button>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-between">
                        <div class="flex flex-wrap items-center">
                            <button
                                class="mr-3 mb-2 inline-flex items-center justify-center text-secondary-inverse rounded-full bg-neutral-100 hover:bg-neutral-200 transition-all duration-200 ease-in-out px-3 py-1 text-sm font-medium leading-normal">
                               Followers none </button>
                            <button
                                class="mr-3 mb-2 inline-flex items-center justify-center text-secondary-inverse rounded-full bg-neutral-100 hover:bg-neutral-200 transition-all duration-200 ease-in-out px-3 py-1 text-sm font-medium leading-normal">
                              Following none </Button>
                            <a href=""
                                class="mr-3 mb-2 inline-flex items-center justify-center text-secondary-inverse rounded-full bg-neutral-100 hover:bg-neutral-200 transition-all duration-200 ease-in-out px-3 py-1 text-sm font-medium leading-normal">
                                48 Posts </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>