<div class="bg-white rounded-lg px-10 py-4">
<!-- heading -->
    <div class="">
    <h1 class="text-xl font-bold">User information</h1>
</div>

<!-- actual information -->
 <div class="pt-5">
    <h1 class="text-lg font-medium">About</h1>
    <p class="text-md text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, ducimus voluptatum et quam qui officia rerum voluptate? Corrupti officiis architecto, necessitatibus dignissimos et commodi cumque modi rerum dolores placeat quo.</p>
 </div>
 <!-- more information for later on -->
 <!-- <div class="pt-5">
    <h1 class="text-lg font-medium">Address</h1>
 </div> -->
</div>